
body {
    
  /* background-color:whitesmoke; */
  /* background-image: url(cloud.png); */
   /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
 /* max-width: 100%; */
  /* display: block; */
 
margin: 0;
padding: 0%;
box-sizing: border-box;
background-color: #ccc;

  
}
header{

    background-image: url(cloud.png);
   background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 max-width: 100%;
  display: block;
}



.search-bar {
  padding: 2rem;
  position: relative;
  transition: transform 0.3s ease;
}

.search-bar:hover {
  transform: scale(1.02);
}

.search-bar input[type="text"] {
  padding-right: 3rem; /* space for clear button */
  height: 50px;
  font-size: 1rem;
  border-radius: 30px;
  border: 2px solid #ccc;
  transition: border-color 0.3s;
}

.search-bar input[type="text"]:hover,
.search-bar input[type="text"]:focus {
  border-color: #4b7aaa;
  outline: none;
}

#clearSearchBtn {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  font-size: 2rem;
  display: none;
  color: #000;
  cursor: pointer;
}

#clearSearchBtn:hover {
  color: #dc3545;
}

.card {
  transition: transform 0.3s;
  background-color:transparent;
  
 
  
  
  
}

.card:hover {
  transform: scale(1.02);
}

.site-image {
  width: 100px;
  height: 70px;
  object-fit: contain;
  margin-right: 15px;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
  
}
.row{
  background-color: #ccc;
  
}

#scrollTopBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  display: none;
  z-index: 99;
}
footer {
  /* background-image: url('nice.jfif');  */

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
  min-height: 100px; /* Adjust as needed */
}

img {
  max-width: 20%;
 
  float: TOP;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

